<br/><!--
<ng-container *ngFor= "let datas of expense.expense">
  <h3>{{datas.title}}</h3>
</ng-container> -->

<table mat-table [dataSource]="expense" matSort  class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->


  <ng-container matColumnDef="title">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> Title </th>
    <td mat-cell  *matCellDef="let element"> {{element.title}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="price">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> Price </th>
    <td mat-cell *matCellDef="let element"> {{element.price  | currency}} </td>
  </ng-container>

  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef> Category </th>
    <td mat-cell *matCellDef="let element"> {{element.category}} </td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>

  <ng-container  matColumnDef="purchaseDate">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> Purchase Date </th>
    <td mat-cell *matCellDef="let element"> {{element.purchaseDate | date}} </td>
  </ng-container>
  <ng-container  matColumnDef="action">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let element">
        <span  id="clear" class="material-icons" (click)="deleteExpense(element._id)">
          clear
          </span>
          <p></p>
          <span  id="edit" class="material-icons" (click)="editExpense(element)" >
            edit
            </span>
    </td>
  </ng-container>

  <!-- <tr mat-row *matRowDef="let element; ">
    <span  class="material-icons"  >
      clear
      </span>
  </tr> -->

  <tr mat-header-row  *matHeaderRowDef="tableheaders"></tr>
  <tr  mat-row *matRowDef="let row ; columns: tableheaders;"  ></tr>
</table>


